.DetailList-item {
  border-bottom: 1px solid transparent;
  box-shadow:
    0 8px 12px rgba(0, 0, 0, 0.15);
    /* 0 -1px 6px rgba(0, 0, 0, 0.3); */
  margin-top: 5px;
  margin-left: 5px;
  padding-left: 10px;
  border-left: 1px solid #5A574E;
}