.card {
  border: black;
}

.card-body-loginForm {
  background-color: #212529;
  border-radius: 5%;
}

.LoginForm-form-control {
  background-color: rgb(165, 163, 163);
}

.form-control:focus {
  background-color: #212529;
  color: #adb5bd;
}

.btn-primary {
  background-color: #007bff;
  /* Ensure consistency, though this is the default */
  border: none;
  /* Remove default border */
  padding: 10px;
  margin-top: 16px;
  /* Ensure some space above the button */
  width: 100%;
  /* Match input width for consistency */
  font-size: 16px;
  /* Larger font for better readability */
  border-radius: 4px;
  /* Rounded corners for the button */
}

