.card {
  border: black;
}

.card-body-loginForm {
  background-color: #212529;
}

.form-control {
  background-color: rgb(165, 163, 163);
}

.form-control:focus {
  background-color: #212529;
  color: #adb5bd;
}